<%= form_for @rss, remote: true do |f|   %>
  <div>
  	<%= f.text_field :rss_url, style: 'width:60%', required: true %>
  	<%= f.button :save, class: 'btn btn-sm btn-outline-success' %>
	</div>
<% end %>