<div class='row' style='margin-top: 2%'>
  <div id='rss-form' style='display:none; width: 100%'></div>
</div>

<div class='row' style='clear: both'>
  <table class='table table-striped' id='rss_table'>
    <thead>
      <tr>
        <th class='col-xs-9' style='min-width: 600px;'>RSS URL</th>
        <th class='col-xs-3'>Action</th>
      </tr>
    </thead>
    <tbody id='all_rss'>
      <%= render @all_rss %>
    </tbody>
  </table>
</div>
<script>
  $(document).ready(function() {
    $('#rss_table').DataTable();
  });
</script>