<div class='row' style='margin-top: 2%'>
  <div id='rss-form' style='display:none; width: 100%'></div>
</div>

<div class='row' style='clear: both'>
  <table class='table table-striped' id='all_rss'>
    <thead>
      <tr>
        <th class='col-xs-9'>RSS URL</th>
        <th class='col-xs-9'>Action</th>
      </tr>
    </thead>
    <tbody>
      <%= render @all_rss %>
    </tbody>
  </table>
</div>
<script>
  $(document).ready(function() {
    $('#all_rss').DataTable();
  });
</script>