<div class="row" style=' margin: 2% 0 5% 0'>
  <div id="rss-form" style="display:none; width: 100%"></div>
</div>

<div class="row" style='clear: both'>
  <table class="table table-hover table-bordered" id='all_rss'>
    <thead>
      <tr>
        <th>RSS URL</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <%= render @all_rss %>
    </tbody>
  </table>
</div>